.wrapper {
    display: grid;
    grid-template-columns: 10% 90%;
}

.card {
    width: 221px;
    height: 330px;
}

.card-img-top {
    margin;
    30px;
}

*.card img {
    justify-content: center;
}